<%= form_tag("/search", method: "get") do %>
  <div class="input-group">

    <%= text_field_tag(:q, '', {class: "form-control", value: @query, placeholder: "Halte terdekat dari:", required: true}) %>
    <span class="input-group-btn">
      <%= submit_tag("Cari", class: "btn btn-default") %>
    </span>
  </div>
  <label>
    Jarak pencarian: 
  </label>
  <label class="radio-inline">
    <%= radio_button_tag 'radius', '1', @radius == '1' %> 1 km
  </label>
  <label class="radio-inline">
    <%= radio_button_tag 'radius', '3', @radius == '3' %> 3 km
  </label>
  <label class="radio-inline">
    <%= radio_button_tag 'radius', '5', @radius == '5' %> 5 km
  </label>
<% end %>