<%= render 'search_box' %>
<%= @success %>

<h2> Pencarian: <%= @query %></h2>
<div class="col-md-6">
  <% if @success %>
    <p><%= @location["formatted_address"] %></p>
    <p><%= "(#{@lat}, #{@lng})" %></p>
    <div style='width: 800px;'>
      <div id="map" style='width: 400px; height: 400px;'></div>
    </div>

    <br>

    <div class="panel panel-default">
      
      <div class="panel-heading">
        <h3 class="panel-title">Halte Transjakarta terdekat <span class="badge pull-right"><%= @stops.count(:all) %></span> </h3>
      </div>
      <div class="panel-body">  
        <% if @stops.empty? %>
          <div class="alert alert-warning">
            <p>Tidak ada halte di sekitar lokasi</p>
          </div>
        <% end %>


        <% @stops.each do |stop| %>

          <%= "#{stop.name} (#{stop.distance.round(1)} km)" %>
          <br>

        <% end %>

        <%= render 'map_script' %>
        
      <% else %>
        <div class="alert alert-warning">
          <p> Lokasi "<%= @query %>" tidak ditemukan di Jakarta</p>
        </div>
      </div>
    </div>

    <% end %>

</div>