<%= render 'search_box' %>
<%= @success %>

<h2> Pencarian: <%= @query %></h2>
<div class="col-md-6">
  <% if @success %>
    <p><%= @location["formatted_address"] %></p>
    <p><%= "(#{@lat}, #{@lng})" %></p>
    <div style='width: 800px;'>
      <div id="map" style='width: 400px; height: 400px;'></div>
    </div>

    <br>


    <%= render 'tj_stop_panel' %>
    <%= render 'map_script' %>

  <% else %>
    <div class="alert alert-warning">
      <p> Lokasi "<%= @query %>" tidak ditemukan di Jakarta</p>
    </div>
<% end %>

</div>