<%= render 'search_box' %>

<h2> Pencarian: <%= @query %></h2>

  <% if @success %>
    <div class="row">
      <div class="col-md-6">
        <p><%= @location["formatted_address"] %></p>
        <p><%= "(#{@lat}, #{@lng})" %></p>
        <div id="map" style='width: 600px; height: 400px;'></div>
        <br>
      </div>
      <div class="col-md-4">
        <%= render 'tj_stop_panel' %>
      </div>
    </div>
    <%= render 'map_script' %>

  <% else %>
    <div class="alert alert-warning">
      <p> Lokasi "<%= @query %>" tidak ditemukan di Jakarta</p>
    </div>
<% end %>

</div>