<!DOCTYPE html>
<html lang="id">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Brentimana</title>
  <meta name="description" content="Cari lokasi halte Transjakarta dari mana saja">
  <meta name="keywords" content="Jakarta, busway, TransJakarta">
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/css/bootstrap.min.css">

</head>
<body>

<%= yield %>
<div class="container-fluid">

</div>


</body>
</html>
